<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/log.css">
</head>
<body>

    <!-- NAVIGATION BAR -->

    <header>  
        
        <div class="upper-nav">

            <div id="logo">
                <div id="logo-img">
                    <img src="Image\logo.png" alt=" ">
                </div>
                <h1>ZoroMart</h1>
            </div>
    
            <div class="servic-no">
                <p> Customer service No:<br>
                    9100000000
                </p>
            </div>

        </div>

       <div class="lower-nav">
            <nav>
                
                <div class="container-nav">
                    <a href="/">Home</a>
                    <a href="#">AAAA</a>
                    <a href="#">AAAA</a>
                    <a href="/login">LogIn</a>
                </div>
                
            </nav>
       </div>


    </header>
    

    <!-- LOGIN -->

   <div class="Login-container">
        <div class="wrapper">
            <form action="/sigin" method="post">
                <h1>Sigin</h1>
                <!-- <div class="name">
                    <div class="inpute-box">
                        <input type="text" placeholder="First Name" required>
                    </div>
                    <div class="inpute-box">
                        <input type="text" placeholder="Last Name" required>
                    </div>
                </div> -->
                <div class="inpute-box">
                    <input type="text" placeholder="UserName" name="username" required>
                </div>
                <div class="inpute-box">
                    <input type="password" placeholder="Password" name="password" required>
                </div>
                <!-- <div class="inpute-box">
                    <input type="tel" placeholder="Contact No" required>
                </div>
                <div class="inpute-box">
                    <input type="text" placeholder="Address" required>
                </div> -->
                
                <button type="submit" class="btn">Sigin</button>
            </form>
        </div>
   </div>
    
</body>
</html>